<h1>{{ image.name }}</h1>
<h2>Score: {{ image.votes }}</h2>

<div style="width:100%;">
    <div style="width:45%; float:left;">
        <img src="{{ image.url }}" style="width:100%;">
    </div>

    <div style="width:45%; float:left;">
      {% if user.is_authenticated %}
        <form action="{% url 'polls:upvote' image.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Vote up">
        </form>

        <form action="{% url 'polls:downvote' image.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Vote down">
        </form>
        {% endif %}
    </div>
</div>